.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px ;
}

.header-container .logo{
    display: flex;
}

.header-container .logo img {
    border-radius: 50%;
}

.header-container .menu-list {
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.header-container .menu-list li {
    padding: 20px;
    text-transform: uppercase;
    border-radius: 25px;
    transition: 0.5s;
    cursor: pointer;
}

.header-container .menu-list li:hover{
    background-color: antiquewhite;
}

.header-container input {
    display: none;
}

.header-container .menu span {
    width: 30px;
    height: 2px;
    background-color: #FFF;

    position: relative;
    
    margin: 10px;
    
}

.header-container .menu span:before,
.header-container .menu span:after {
    content: '';
    width: 100%;
    height: 100%;

    background-color: #fff;

    position: absolute;
}

.header-container .menu span:before {
    top: -10px;
}

.header-container .menu span:after {
    bottom: -10px;
}

@media (max-width: 601px){
    .header-container nav{
        display: none;
    }

    
    .header-container .menu .hamburquer{
        display: block;
    }
    
}